<div>
    <p>Frame 1 : Information concerning the change request</p>
    <form [formGroup]="creationIS" (ngSubmit)="createIS()">
    <table>
        <tr>
        
            
                <td><label>Name</label></td>
                <td><input type="text" formControlName="name"></td>
            
            
                <td><label>User</label></td>
                <td><input type="text" formControlName="user"></td>
           
        
        </tr>
    </table>
    <button type="submit" >Submit</button>
</form>
<h3>FIH IS Creation</h3>
<form name="ISform">
        <div class="form-group">
            <label>Body Type</label>
            <input type="text" [(ngModel)]="model.bodytype" name ="bodytype" required>
            <span style="color: red">*</span>
        </div>
        <!-- <div *ngIf="bodytype.errors.required && bodytype.errors.dirty">
            Bodytype is required.
          </div> -->
        <div class="form-group">
                <label>Project</label>
                <input type="text" [(ngModel)]="model.project" name="project" required>
                <span style="color: red">*</span>
            </div>
            <!-- <div *ngIf="project.errors.required">
                Project is required.
              </div> -->
        <table>
                <tr>
                        <td><label>Does this modification concern a CSR part (regulatory constraint – DZ relevant)?</label></td>
                        <td><input type="radio" value="Yes" [(ngModel)]="model.impact" name="impact">Yes<input type="radio" [(ngModel)]="model.impact" name="impact">No</td>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                            <td><label>Regulatory domains (see stamps on the drawings):</label></td>
                            <td>
                                <select class="form-control" [(ngModel)]="model.domain" name="domain" id="domain">
                                    <option *ngFor = "let dom of regDomainModel" [value]=dom>{{dom}}</option>
                                </select>
                            </td>
                    </tr>
        </table>
        <button value="SaveIS" (click)="saveIS($event)">Save IS</button>
    </form>
</div>
